# {{ project_name }}

{% if is_public -%}
[![All Contributors](https://img.shields.io/github/all-contributors/{{ github_username }}/{{ repo_name }}?color=ee8449&style=flat-square)](#contributors)
{%- endif %}
{%- if is_prerelease %}

| :exclamation:  Notice: This project is currently in a {{ lifecycle }} state and {% if lifecycle == "Pre-Alpha" or lifecycle == "Alpha" %}is not ready for public use{% else %}should be used with caution{% endif %}.  |
|-----------------------------------------|
{%- endif %}
{%- if lifecycle == "Inactive" %}

| :zap:  Notice: This project is no longer under active development.  |
|-----------------------------------------|
{%- endif %}

{{ project_short_description }}

## Features

- Feature 1
- Feature 2
- Feature 3

## Installing

### Prerequisites

No prerequisites are required.

### Main Installation

FILL ME IN

## Usage

### Examples

EXAMPLES HERE

### Documentation

For detailed documentation, [click here](docs).

## Building

BUILD INFO HERE

## Repository Template

This repository is based on the [{{ parent_template_name }}]({{ parent_template_url }}).
