name: $(BuildId)

trigger:
  branches:
    exclude:
      - "*"

variables:
  CI: true
  MISE_ENV: ci

stages:
  {%- for env in k8s_envs %}
  {%- set k8s_cluster = env["id"].split(")")[0].split("(")[0] %}
  - stage: {{ env["id"] | slugify | replace("-","_") }}
    displayName: {% if env["display_name"] %}{{ env["display_name"] }}{% else %}{{ env["id"] }}{% endif %}
    {%- if env["azdo_pool_type"] == "private" %}
    pool: {{ env["azdo_pool_name"] }}
    {%- else %}
    pool:
      vmImage: {{ env["azdo_pool_name"] }}
    {%- endif %}
    {%- if env["depends_on"] == "NoDependency" %}
    dependsOn: ""
    {%- elif env["depends_on"] %}
    dependsOn: {{ env["depends_on"] | slugify | replace("-","_") }}
    {%- endif %}
    variables:
      {%- if env["k8s_type"] == "aks" %}
      AKSCluster: {{ k8s_cluster }}
      AKSClusterResourceGroup: {{ env["aks_resource_group"] }}
      {%- endif %}
      HelmfileEnvironment: {{ env["id"] }}
    jobs:
      - deployment: {{ env["id"] | slugify | replace("-","_") }}
        displayName: {% if env["display_name"] %}{{ env["display_name"] }}{% else %}{{ env["id"] }}{% endif %}
        {%- if env["deployment_env"] %}
        environment: {{ env["deployment_env"] }}
        {%- endif %}
        strategy:
          runOnce:
            deploy:
              steps:
                {%- if env["k8s_type"] == "aks" %}
                - template: template-aks-login.yml
                  parameters:
                    ServiceConnection: {{ env["azdo_service_connection"] }}
                {%- endif %}
                {%- if env["azdo_service_connection"] %}
                - template: template-helmfile-sync-azcli.yml
                  parameters:
                    ServiceConnection: {{ env["azdo_service_connection"] }}
                {%- else %}
                - template: template-helmfile-sync-bash.yml
                {%- endif %}
  {%- endfor %}
