name: $(BuildId)

trigger:
  branches:
    exclude:
    - '*'

parameters:
  - name: HelmChartVersion
    type: string

variables:
{%- if container_registry_type == "Azure Container Registry" %}
  AcrName: {{ acr_name }}
{%- if acr_login_method == "Admin Credentials via Service Connection" %}
  AcrAzSubscriptionServiceConnection: {{ acr_service_connection }}
{%- endif %}
{%- elif container_registry_type == Public %}
  HelmRepoName: {{ helm_repo_name }}
  HelmRepoUrl: {{ helm_repo_url }}
{%- endif %}
  HelmChartName: {{ helm_chart_name }}
  HelmReleaseName: {{ helm_release_name }}

pool:
  vmImage: ubuntu-latest

stages:
  - stage:
    displayName: Set up Environment
    jobs:
      - job: set_up_env
        displayName: Set up Environment
        steps:
          - pwsh: |
              $Date = Get-Date -Format "yyyyMMddHHmm"
              Write-Host "##vso[build.updatebuildnumber]Chart-$env:HelmChartVersion_$Date"
            displayName: Calculate and set build number
            env:
              HelmChartVersion: {% raw %}${{ parameters.HelmChartVersion }}{% endraw %}
            failOnStderr: true
{%- for env in k8s_envs %}
{%- if env["deploy_group"] == "Primary" %}
{% set base_name = env["aks_cluster_name"] + "_" + env["namespace"] %}
  - stage: {{ base_name | slugify | replace("-","_") }}
    jobs:
      - deployment: {{ base_name | slugify | replace("-","_") }}
        environment: {{ env["aks_cluster_name"] }}
        strategy:
          runOnce:
            deploy:
              steps:
                - template: azure-pipelines-deploy-template.yml
                  parameters:
                    AzAKSCluster: {{ env["aks_cluster_name"] }}
                    AzAKSClusterResourceGroup: {{ env["aks_resource_group"] }}
                    AzAKSClusterAzDOServiceConnection: {{ env["azdo_service_connection"] }}
{%- if secret_storage_platform == "Azure Key Vault" %}
                    AzKeyVault: {{ env["az_key_vault_name"] }}
                    AzKeyVaultAzDOServiceConnection: {{ env["azdo_service_connection"] }}
{%- endif %}
                    HelmChartVersion: {% raw %}${{ parameters.HelmChartVersion }}{% endraw %}
                    K8sNamespace: {{ env["namespace"] }}
{%- endif %}
{%- endfor %}
