steps:
- task: HelmInstaller@1
  displayName: Install Helm
  inputs: 
    helmVersionToInstall: latest
- task: KubectlInstaller@0
  displayName: Install Kubectl
  inputs:
    kubectlVersion: latest
{%- if container_registry_type == "Azure Container Registry" %}
{%- if acr_login_method == "Admin Credentials via Service Connection" %}
- task: AzureCLI@2
  displayName: Authenticate to ACR
  inputs:
    azureSubscription: {{ acr_service_connection }}
    scriptType: pscore
    scriptLocation: inlineScript
    inlineScript: |
      $CredsJson = az acr credential show --name $(AcrName) --only-show-errors
      $CredsObject = ConvertFrom-Json ($CredsJson -join "`n")
      helm registry login $(AcrName).azurecr.io --username $CredsObject.username --password $CredsObject.passwords[0].value
{%- elif acr_login_method == "Admin Credentials via Pipeline Variable" %}
- pwsh: |
    helm registry login $(AcrName).azurecr.io --username $(AcrName) --password $env:AcrPassword
  displayName: Authenticate to ACR
  env:
    AcrPassword: $(AcrPasswordSecret)
{%- endif %}
{%- endif %}
{%- if container_registry_type == "Public" %}
- pwsh: |
    helm repo add $(HelmRepoName) $(HelmRepoUrl)
    helm repo update
  displayName: Add & Update Helm Repo
  failOnStderr: true
{%- endif %}
