environments:
{%- for env in k8s_envs %}
  {%- set k8s_cluster = env["id"].split(")")[0].split("(")[0] %}
  {{ env["id"] }}:
    kubeContext: {{ k8s_cluster }}
{%- endfor %}
---
repositories:
 - name: cfpb
   url: ghcr.io/cfpb
   oci: true

releases:
- name: static-site
  namespace: {% raw %}{{ .Environment.Name | trimSuffix ")" | splitList "(" | last }}{% endraw %}
  chart: cfpb/static-site
  version: 0.1.1
  values:
    - ./values/values.yaml
    - ./values/values.{% raw %}{{ .Environment.Name }}{% endraw %}.yaml
